/* Dùng cho AuthenTemplate (index.jsx)*/
.authen-template {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.authen-template-form {
  width: 40%;
  height: 100%;
  background-color: gainsboro;
  display: flex;
  justify-content: center; /* căn chỉnh phần tử theo chiều chính */
  align-items: center; /* căn chỉnh phần tử theo chiều phụ */
}

.authen-template-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
  overflow: hidden;
  background-image: url("/public/images/Image3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
