.login-form-header h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #2e7d32; /* xanh lá đậm */
  margin-bottom: 50px;
  /* letter-spacing: 100px; */
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  animation: fadeInDown 10s ease;
}
.login-form-header h1:hover {
  color: #66bb6a;
  transition: all 0.2s ease;
}
/* animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%; /* hoặc chiều cao cố định nếu bạn muốn */
  padding: 0px 40px;
  text-align: center;
  position: relative;
  animation: fadeInDown 2s ease-out; /* animation drop down  */
}

.login-form form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* để form chiếm phần lớn chiều cao */
}

.username-label .ant-form-item-label > label {
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.username-input {
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}
.password-label .ant-form-item-label > label {
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.password-input {
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
}
.remember-me-row {
  display: flex;
  justify-content: space-between; /* trái và phải  */
  align-items: center;
  margin-top: -15px;
  font-weight: normal;
}

.remember-me {
  font-size: 16px;
  font-style: bold;
  color: #173b87;
  white-space: nowrap;
}

.forgot-link {
  font-size: 16px;
  font-style: bold;
  color: red;
  text-decoration: underline;
  white-space: nowrap;
}

.login-button {
  width: 100%;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: yellowgreen;
}

.alt-login {
  margin-top: -10px;
  text-align: center;
}

.alt-login-title {
  display: flex;
  align-items: center;
  text-align: center;
  color: #4444448c;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0;
}

.alt-login-title::before,
.alt-login-title::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid gray;
  margin: 0 10px;
}

.alt-login-buttons {
  display: flex;
  justify-content: center;
  gap: 35px; /* khoảng cách giữa các buttons */
}
.alt-login-buttons button {
  width: 170px;
  height: 35px;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.github {
  background-color: #333;
}

.facebook {
  background-color: #3b5998;
}

.google {
  background-color: #db4437;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  gap: 10px;
  margin-top: 60px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #2e7d32;
  color: #555; /* màu chữ */
  background-color: lightgrey;
  animation: fadeInUp 1s ease-in-out;
}
.register-link {
  color: #2e7d32;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease;
}

.register-link:hover {
  color: #66bb6a;
  transform: translateY(-2px);
  text-decoration: underline;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.aboutus-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-style: inherit;
  gap: 8px;
  margin-top: 80px;
  margin-bottom: 10px;
}
.ant-input-affix-wrapper-focused {
  border-color: #66bb6a !important;
  box-shadow: 0 0 0 2px rgba(102, 187, 106, 0.3) !important;
  transition: all 0.3s ease-in-out;
}
